body {
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.container {
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  width: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  gap: 0;
}

.container-img {
  background-image: url("./images/image-product-desktop.jpg");
  width: 290px;
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.container-text {
  background-color: white;
  width: 300px;
  height: 430px;
  border-radius: 0 10px 10px 0;
  padding: 30px;
}

.font-cool {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  color: black;
}

.price {
  vertical-align: middle;
  padding: 15px;
  text-decoration: line-through;
}

.discount {
  color: hsl(158, 36%, 37%);
}

.btn-cart {
  background: hsl(158, 36%, 37%);
  color: white;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 240px;

}

.btn-cart:hover {
  background-color: hsl(156, 34%, 16%);
  color: white;
}

.credits {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container-img {
    background-image: url("./images/image-product-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    width: 335px;
    height: 234px;
  }

  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 20px;
    width: 375px;
  }

  .container-text {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: fit-content;
    height: 375px;
  }

  .btn-cart {
    width: 295px;
  }
}